.first-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: royalblue;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.first-heading:hover{
    color: darkgreen;
    text-shadow: 5px 5px 10px #00FF00;
}

